#app {
	background: rgb(240, 131, 146);
	background: linear-gradient(
		90deg,
		rgba(240, 131, 146, 0.4023984593837535) 0%,
		rgba(191, 97, 236, 0.2231267507002801) 36%,
		rgba(99, 235, 246, 0.30996148459383754) 100%
	);
}
