#accountButton,
#loginButton{
	background: #587798;
	color: white;
}

#signupHeader,
#loginHeader{
	color: white;
}

#appIntro {
	color: white;
}


#appTitle {
	margin-top: 20px;
	font-size: 50px;
	font-weight: 300;
	font-family: 'Monoton', cursive;
}